@model IEnumerable<GtaBackground.Models.MemberMarks>
<br />
<br />
<br />
<p>
    @Html.ActionLink("创建", "CreateMember")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foreground)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Background)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCancel)
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortTitle)
            </td>
			<td>
				<input  id="Foreground" name="Foreground" type="color" disabled="disabled" value="@item.Foreground" />
			</td>
			<td>
				<input  id="Background" name="Background" type="color" disabled="disabled"  value="@item.Background"/>
			</td>
            <td>
                @Html.DisplayFor(modelItem => item.Sort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCancel)
            </td>
            <td>
                @Html.ActionLink("删除", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
